@media only screen and (orientation: portrait) and (min-device-width: 320px) {
	body {
    width: 95%;
  }
  h1 {
    width: 95%;
  }
}
 
/* Samsung Galaxy S4 (альбомный режим) */
@media only screen and (orientation: landscape) and (min-device-width: 320px) {
	body {
    width: 95%;
  }
  h1 {
    width: 95%;
  }
}
