@media only screen and (orientation: portrait) and (min-device-width: 320px) {
body {
width: 95%;
font-size: 200%;
background-color: #F6F8FA; 

}
	
h1 {
width: 95%;
font-size: 150%;
text-align: center;
color: black;
}
	
table {
align: center;
border-spacing: 30px;
display: table;
background-color: white; 
border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -khtml-border-radius: 10px;
  border: 1px solid #000;
  display: block;
}
	
tr{
background-color: #F6F8FA; 
}
}

/* Samsung Galaxy S4 (альбомный режим) */
@media only screen and (orientation: landscape) and (min-device-width: 320px) {
body {
width: 95%;
font-size: 200%;
background-color: #F6F8FA; 
}
	
h1 {
width: 95%;
font-size: 150%;
text-align: center;
color: black;
}
	
table {
align: center;
border-spacing: 30px;
display: table;
background-color: white; 
border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -khtml-border-radius: 10px;
  border: 1px solid #000;
  display: block;
}
	
tr{
background-color: #F6F8FA; 
}
}
